head
  
   link(rel='stylesheet', href='style.css')
  
   link(rel='icon', href='icon.ico', type='image/x-icon')
body
  header.header 
   
  div(id='leftnav')
    img(src="https://platform.mindee.com/static/media/logo.7474f533.svg")
    div(id="navigationtext")
      h1 Continuous Learning Tutorial

      h2  Programatically train your document parsing API
      div(id="list")
        div(id="listitem") 
          .bigcircleblu
          .smallcircleblu 1 
          .labelblu Upload a document
        |
        |
        div(id="listitem") 
          .bigcircleblu
          .smallcircleblu 2 
          .labelblu  Annotate Your Data
        |
        |
        div(id="listitem") 
          .bigcirclegray 
          .smallcirclegray 3 
          .labelgray Send Annotations
      
  div(id='rightnav')
    div(id="react")
    
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
script(type='text/javascript', src='client1.js')
            

   
