head
  
   link(rel='stylesheet', href='style.css')
  
   link(rel='icon', href='icon.ico', type='image/x-icon')
body
  header.header 
   
  div(id='leftnav')
    img(src="https://platform.mindee.com/static/media/logo.7474f533.svg")
    div(id="navigationtext")
      h1 Continuous Learning Tutorial

      h2 Programatically train your document parsing API
      div(id="list")
        div(id="listitem") 
          .bigcircleblu
          .smallcircleblu 1 
          .labelblu Upload a document
        |
        |
        div(id="listitem") 
          .bigcircleblu
          .smallcircleblu 2 
          .labelblu  Annotate Your Data
        |
        |
        div(id="listitem") 
          .bigcircleblu 
          .smallcircleblu 3 
          .labelblu Send Annotations
  div(id='rightnav')
    div(id="results")
        p Training data sent to Mindee. Your API is getting smarter and smarter! 
        a(href='/') Train with another document.

